.emAlta__container{
    margin: auto 2rem 2rem 2rem;
}

.emAlta__titulo{
    color: var(--branco);
    font-family: var(--font-principal);
    margin: 1rem 0;
}

.emAlta{
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5, auto);
}

.poster2 img{
    width: 100%;
}

.poster2 img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .5s;
}