.main__container--banner{
    margin-left: 3rem;
    margin-top: 7.5rem;
    width: 30rem;
}

.main__banner--spiderhead{
    background-image: url(../img/banner-spiderHead.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    width: 100%;
    margin-bottom: 1rem;
}

span{
    color: var(--branco);
    font-family: var(--font-principal);
    font-size: .9rem;
}